
<section class="container" data-ng-controller="FeedbacksController" ng-init="showData()">
    <br>
   <div class="table-responsive" data-pattern="priority-column">
       <form class="feedbackForm">
    <table class="table table-hover table-bordered table-responsive table-striped">
        <thead>
            <tr>
                <th> SL No.</th>
                <th>Patient Name</th>
                <th>Doctor Name</th> 
                <th>Nature Of Treating</th> 
                <th>Ambience of the clinic</th>
                <th>Your experience at the reception</th>
                <th>Hygiene in the clinic</th>
                <th>Patient handling</th>
                <th>Chair side manners </th>
                <th>Doctor communication </th>
                <th>Dr. explain problem & treatment plan</th>
                <th>Treatment options explained clearly</th>
                <th>Are you satisfied with the treatment </th>
                <th>Would you recommend this clinic </th>
                <th>suggestions for improvement</th>
                <th>Rating</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

                <tr>
                    <td></td>
                    <td>
                            <!-- <label class="control-label">Name </label><br><br> -->
                            <br>
                            <input type="text" class"form-control" ng-model="feedback.feedbackPatName" placeholder="Enter Your Name" ng-required>
                        <!-- <div class="patientcolor" ng-show="feedbackForm.$addFeedback || feedbackForm.feedbackPatName.$touched">
                           <div ng-show="feedbackForm.feedbackPatName.$error.required"><b>Required</b></div>
                         </div> -->
                    </td>
                    <td>
                        <!-- <label>TreatmentDoctor </label><br><br> -->
                        <br>
                       <input type="text" class"form-control" ng-model="feedback.feedbackDoctorName" placeholder="Enter Treating DoctorName" required>
                    </td>
                    <td>
                        <!-- <label>NatureOfTreatment </label><br><br> -->
                        <br>
                       <input type="text" class"form-control" ng-model="feedback.feedbackNatureTreatment" placeholder="Enter Nature Of Treating " required>
                    </td>
                        <td>
                            <!-- <label>Ambience </label><br> -->
                            <md-input-container class="" >
                            <md-radio-group layout="column" id="feedbackAmbienceid" name="feedbackAmbience" ng-model="feedback.feedbackAmbience" ng-required>
                                
                            <md-radio-button value="Excellent" class="text-muted"><b>Excellent</b></md-radio-button>
                            <md-radio-button value="Good" class="text-muted"><b>Good</b></md-radio-button>
                            <md-radio-button value="Average" class="text-muted"><b>Average</b></md-radio-button>
                            <md-radio-button value="Poor" class="text-muted"><b>Poor</b></md-radio-button>
                           </md-radio-group>
                           </md-input-container>
                        </td>

                        <td>
                            <!-- <label>experiencereception </label><br> -->
                            <md-input-container class="" >
                            <md-radio-group layout="column" id="feedbackExperienceid" name="feedbackExperience" ng-model="feedback.feedbackExperience" required>
                                
                            <md-radio-button value="Excellent" class="text-muted"><b>Excellent</b></md-radio-button>
                            <md-radio-button value="Good" class="text-muted"><b>Good</b></md-radio-button>
                            <md-radio-button value="Average" class="text-muted"><b>Average</b></md-radio-button>
                            <md-radio-button value="Poor" class="text-muted"><b>Poor</b></md-radio-button>
                           </md-radio-group>
                           </md-input-container>
                        </td>

                       <td>
                           <!-- <label>Hyegine </label><br> -->
                           <md-input-container class="hyegine" >
                           <md-radio-group layout="column" id="feedbackHyegineid" name="feedbackHyegine" ng-model="feedback.feedbackHyegine" required>
                           <md-radio-button value="Excellent" class="text-muted"><b>Excellent</b></md-radio-button>
                           <md-radio-button value="Good" class="text-muted"><b>Good</b></md-radio-button>
                           <md-radio-button value="Average" class="text-muted"><b>Average</b></md-radio-button>
                           <md-radio-button value="Poor" class="text-muted"><b>Poor</b></md-radio-button>
                          </md-radio-group>
                          </md-input-container>
                       </td>

                        <td>
                            <!-- <label>Patient </label><br> -->
                           <md-input-container class="" >
                           <md-radio-group layout="column" id="feedbackHandlingid" name="feedbackHandling" ng-model="feedback.feedbackHandling" required>   
                           <md-radio-button value="Excellent" class="text-muted"><b>Excellent</b></md-radio-button>
                           <md-radio-button value="Good" class="text-muted"><b>Good</b></md-radio-button>
                           <md-radio-button value="Average" class="text-muted"><b>Average</b></md-radio-button>
                           <md-radio-button value="Poor" class="text-muted"><b>Poor</b></md-radio-button>
                          </md-radio-group>
                          </md-input-container>
                       </td>
                        <td>
                            <!-- <label>ChairSide </label><br> -->
                           <md-input-container class="" >
                           <md-radio-group layout="column" id="feedbackMannersid" name="feedbackManners" ng-model="feedback.feedbackManners" required>
                           <md-radio-button value="Excellent" class="text-muted"><b>Excellent</b></md-radio-button>
                           <md-radio-button value="Good" class="text-muted"><b>Good</b></md-radio-button>
                           <md-radio-button value="Average" class="text-muted"><b>Average</b></md-radio-button>
                           <md-radio-button value="Poor" class="text-muted"><b>Poor</b></md-radio-button>
                          </md-radio-group>
                          </md-input-container>
                       </td>
                        <td>
                            <!-- <label>Communication </label><br> -->
                           <md-input-container class="" >
                           <md-radio-group layout="column" id="feedbackCommunicationid" name="feedbackCommunication" ng-model="feedback.feedbackCommunication" required>
                           <md-radio-button value="Excellent" class="text-muted"><b>Excellent</b></md-radio-button>
                           <md-radio-button value="Good" class="text-muted"><b>Good</b></md-radio-button>
                           <md-radio-button value="Average" class="text-muted"><b>Average</b></md-radio-button>
                           <md-radio-button value="Poor" class="text-muted"><b>Poor</b></md-radio-button>
                          </md-radio-group>
                          </md-input-container>
                       </td>

                         
                       <td>
                           <!-- <label>explainproblem </label><br> -->
                        <md-input-container class="" >
                        <md-radio-group layout="column" id="feedbackExplainProblemPlanid" name="feedbackExplainProblemPlan" ng-model="feedback.feedbackExplainProblemPlan" required>
                        <md-radio-button value="Yes" class="text-muted"><b>Yes</b></md-radio-button>
                        <md-radio-button value="No" class="text-muted"><b>No</b></md-radio-button>
                       </md-radio-group>
                       </md-input-container>
                    </td>

                    <td>
                        <!-- <label>Treatmentexplained </label><br> -->
                        <md-input-container class="" >
                        <md-radio-group layout="column" id="feedbackTreatmentExplainClearlyid" name="feedbackTreatmentExplainClearly" ng-model="feedback.feedbackTreatmentExplainClearly" required>
                        <md-radio-button value="Yes" class="text-muted"><b>Yes</b></md-radio-button>
                        <md-radio-button value="No" class="text-muted"><b>No</b></md-radio-button>
                       </md-radio-group>
                       </md-input-container>
                    </td>

                    <td>
                        <!-- <label>satisfied </label><br> -->
                        <md-input-container class="" >
                        <md-radio-group layout="column" id="feedbackSatisfiedTreatmentid" name="feedbackSatisfiedTreatment" ng-model="feedback.feedbackSatisfiedTreatment" required>
                        <md-radio-button value="Yes" class="text-muted"><b>Yes</b></md-radio-button>
                        <md-radio-button value="No" class="text-muted"><b>No</b></md-radio-button>
                       </md-radio-group>
                       </md-input-container>
                    </td>

                    <td>
                        <!-- <label>recommend </label><br> -->
                        <md-input-container class="" >
                        <md-radio-group layout="column" id="feedbackRecomendClinicid" name="feedbackRecomendClinic" ng-model="feedback.feedbackRecomendClinic" required>
                        <md-radio-button value="Yes" class="text-muted"><b>Yes</b></md-radio-button>
                        <md-radio-button value="No" class="text-muted"><b>No</b></md-radio-button>
                       </md-radio-group>
                       </md-input-container>
                    </td>
                    <td><br>
                        <!-- <label>Suggestion </label><br><br> -->
                       <input type="text" class"form-control" ng-model="feedback.feedbackSuggestionImprovement" placeholder="Enter suggestion" required>
                    </td>
                    <td>
                        <div class="form-group">
                            <!-- <label class="control-label" for="rating">Rating</label> -->
                            <div class="controls"><br>
                                <input-stars max="5" ng-model="feedback.feedbackRating"></input-stars>
                            </div>
                        </div> 
                    </td>

                    <td><br>
                       <button class="btn btn-primary" ng-click="addFeedback()" ng-disabled="disabled"><i class="glyphicon glyphicon-plus"></i>Add</button>
                    </td>
                   </tr>
       

            <tr ng-repeat="feedback in feedbackList | orderBy: 'feedbackPatName' | filter: searchText">
                <!-- <div class="col-sm-4">
                <input type="text" class="form-control col-sm-2" placeholder="Search by patient name or contact..." ng-model="searchText">
                </div> -->
                <td>{{$index+1}}</td>
                <td>{{feedback.feedbackPatName}}</td>
                <td>{{feedback.feedbackDoctorName}}</td>
                <td>{{feedback.feedbackNatureTreatment}}</td>
                <td>{{feedback.feedbackAmbience}}</td>
                <td>{{feedback.feedbackExperience}}</td>
                <td>{{feedback.feedbackHyegine}}</td>
                <td>{{feedback.feedbackHandling}}</td>
                <td>{{feedback.feedbackManners}}</td>
                <td>{{feedback.feedbackCommunication}}</td>
                <td>{{feedback.feedbackExplainProblemPlan}}</td>
                <td>{{feedback.feedbackTreatmentExplainClearly}}</td>
                <td>{{feedback.feedbackSatisfiedTreatment}}</td>
                <td>{{feedback.feedbackRecomendClinic}}</td>
                <td>{{feedback.feedbackSuggestionImprovement}}</td>
                <td>{{feedback.feedbackRating}}</td>
            </tr>
        </tbody>
    </table>
       </form>
    </div>
    
 <ul uib-pagination class="pull-right" total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"></ul uib-pagination>     

</section>
